@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:lightpink;">Community Assist</h1>
    <p class="lead">
        The Community Assistance assists residents of King County with services that provide stability within the community. 
        This service consists of two sections: The Donation Program and the Grant Application Program. 
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make Donations</h2>
        <p>
            Make Donations
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apply for a Grant</h2>
        <p>Apply for a Grant</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    
</div>